$displays: (
  -block: block,
  -flex: flex,
  -inline: inline,
  -inline-block: inline-block,
  -none: none,
  -grid: grid
);

@each $modifier, $value in $displays {
  .d#{$modifier} {
    display: $value !important;
  }
}
