@charset "UTF-8";

@import "color";
// @import "variables";
@import 'utilities/color';
@import 'utilities/cursor';
@import 'utilities/display';
@import 'utilities/flexbox';
@import 'utilities/icon';
@import 'utilities/position';
@import 'utilities/spacing';
@import 'utilities/typography';

@include color-utility-classes();
@include cursor-utility-classes();
@include display-utility-classes();
@include flexbox-utility-classes();
@include icon-utility-classes();
@include position-utility-classes();
@include spacing-utility-classes();

$primary-font-family: "Lato";
$num-cols: 9;
$green: #76FF03;
$cell-error-color: #E53935;
$cell-height: 5rem;
$cell-padding: .15rem;
$cell-font-size: 2rem;
$cell-font-color: #ffffff;
$cell-font-weight: 400;
$cell-selected-font-weight: 900;
$cell-selected-background-color: rgba(white, .8);
$cell-border-color: rgba(255, 255, 255, .2);
$cell-selected-border-radius: 0%;
$nonet-border-color: rgba(white, .5);
$nonet-padding: 0rem;
$related-selected-background-color: rgba(white, .2);
$cell-selected-font-color: rgba(0, 0, 0, .6);

@import "remaining-value-counts";

a {
  text-decoration: none;
}

html {
  line-height: 1.5;
  font-family: $primary-font-family, sans-serif;
  font-weight: normal;
  color: $off-black;
}

.sudoku-board {
  &__nonet {
    width: 33%;
    box-sizing: border-box;
    padding: $nonet-padding;
    border: 0 solid $nonet-border-color;

    &--0,
    &--1,
    &--3,
    &--4,
    &--6,
    &--7 {
      border-right-width: 1px;
    }

    &--0,
    &--1,
    &--2,
    &--3,
    &--4,
    &--5 {
      border-bottom-width: 1px;
    }
  }

  &__cell-wrapper {
    padding: $cell-padding;
    box-sizing: border-box;
    height: 33%;
    width: 33%;
    // border: 0px solid $nonet-border-color;

    &--0,
    &--1,
    &--3,
    &--4,
    &--6,
    &--7 {
      border-right-width: 1px;
    }

    &--0,
    &--1,
    &--2,
    &--3,
    &--4,
    &--5 {
      border-bottom-width: 1px;
    }
  }
}

.sudoku-cell {
  color: $cell-font-color;
  font-size: $cell-font-size;
  font-weight: $cell-font-weight;
  height: 100%;
  width: 100%;
  line-height: 75px;
  position: relative;
  text-align: center;
  transition: background .5s;
  z-index: 1;

  &__lock {
    position: absolute;
    bottom: 2*$cell-padding;
    right: 2*$cell-padding;
    color: rgba($cell-font-color, .2);
    font-size: $cell-font-size/2;
  }

  &:hover {
    cursor: pointer;
  }

  &--matches-selected {
    font-weight: $cell-selected-font-weight;
  }

  &--value-is-complete.sudoku-cell--matches-selected {
    color: $green;
  }

  &--zone-selected {
    background-color: $related-selected-background-color;
    border-color: transparent;
  }

  &--selected {
    background-color: $cell-selected-background-color;
    color: $cell-selected-font-color;
    font-weight: $cell-selected-font-weight !important;
  }

  &--impossible {
    border: $cell-error-color 1px solid;
    background-color: $cell-error-color;
    color: $cell-font-color !important;
  }
}

.grad-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #7f00ff;
  // background: linear-gradient(35deg, #7f00ff, #e100ff 90%);

  /* Sublime vivid */
  background: linear-gradient(35deg, #fc466b, #3f5efb);

  /* Argon */
  background: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Cosmic fusion */

  background: #ff00cc;
  background: linear-gradient(135deg, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Dimigo */

  background: #ec008c;
  background: linear-gradient(to bottom, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Timber */

  background: #fc00ff;
  background: linear-gradient(35deg, #fc00ff, #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
