@charset "UTF-8";
@import "color";
@import "variables";
@import "materialize";

$cell-error-color: #E53935;
$cell-height: 5rem;
$cell-padding: 0.2rem;
$cell-font-size: 2rem;
$cell-font-color: #eee;
$cell-font-weight: 300;
$cell-selected-font-weight: 900;
$cell-selected-background-color: rgba(white, 0.8);
$cell-border-color: rgba(255, 255, 255, 0.2);
$cell-selected-border-radius: 10%;
$related-selected-background-color: rgba(white, 0.2);
$cell-selected-font-color: #333;
$cell-width: percentage(1/$num-cols);

.sudoku-board {
  &__row {
    height: $cell-height;
    &:nth-child(3n) {
      margin-bottom: 1rem;
    }
  }

  &__cell-wrapper {
    padding: $cell-padding;
    height: $cell-height;
    width: $cell-width;
    float: left;
    box-sizing: border-box;
    margin-left: auto;
    left: auto;
    right: auto;
    display: block;
  }

  margin: 0 auto;
  max-width: 45rem;
  padding: 3rem 0;
  width: 45rem;
  z-index: 0;
}

.grad-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(35deg, #7f00ff, #e100ff 90%); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(35deg, #7f00ff, #e100ff 90%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.sudoku-cell {
  border: $cell-border-color 1px solid;
  color: $cell-font-color;
  font-size: $cell-font-size;
  font-weight: $cell-font-weight;
  height: 100%;
  line-height: $cell-height;
  text-align: center;
  transition: background .5s, border-radius .25s .05s, border-color .25s, transform .25s .25s;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &--selected {
    background-color: $cell-selected-background-color !important;
    border-radius: $cell-selected-border-radius;
    color: $cell-selected-font-color;
    border: 1px inset $cell-selected-font-color !important;
    font-weight: $cell-selected-font-weight !important;
  }

  &--matches-selected {
    color: $cell-selected-font-color;
  }

  &--col-selected,
  &--nonet-selected,
  &--row-selected {
    background-color: $related-selected-background-color;
    border-radius: $cell-selected-border-radius;
  }


  &--locked {
    // background-color: $cell-selected-background-color !important;
    border-radius: 50%;
    // color: $cell-selected-font-color !important;
  }


  &--impossible {
    border: $cell-error-color 1px solid !important;
    background-color: $cell-error-color !important;
    color: $cell-font-color !important;
  }
}
